<launch>
<arg name="newString" default= "DEFAULT"/>
<arg name = "recordbag" default = "false"/>
<node
pkg="beginner_tutorials"
type="talker"
name="pubTalker"
respawn="true"
output="screen"
args="$(arg newString)"
/>
<node
pkg="beginner_tutorials"
type="listener"
name="subListener"
respawn="true"
output="screen"
/>
 <node 
 pkg="rosbag" 
 type="record" 
 name="record" 
 output="screen" 
 args="-O $(find beginner_tutorials)/results/ros_bag.bag --duration=15 --all" 
 if="$(arg recordbag)"/>

</launch>